h1{
    margin: 5px;
    border: 20px;
    padding: 5px;
    border-radius: 2px;
    border-color: rgb(72, 72, 242);
    background-color: aqua;
}

.navbar li{
    float: left;
    list-style-type: none;
    margin: 5px;
}

.navbar ul{
    overflow: auto;
}

.heads #searchBox{
    float: left;
}